node_modules/
dist/
.env
.env.local
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/
.next/
out/
.vercel
.cache/
backend/node_modules/
frontend/node_modules/
frontend/dist/
build_error.txt
